pandas
gensim==4.1.2
tqdm
spacy==3.2.4
numpy
matplotlib
scipy
sklearn
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
