gensim==4.2.0
ipython
matplotlib
numpy
pandas
scipy
sklearn
spacy
tqdm
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
gdown
